# Java / Quarkus
target/
.build/
*.iml
*.log

# Node / React (if you add a dash)
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/

# Docker / misc
*.DS_Store
.env
.idea/
.vscode/
